<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhipu.middleground.communication">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--模糊、精准定位权限，作用于6.0+，用于搜寻周围的蓝牙-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>
